<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>details of <%= player.name %></title>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../bootstrap.min.css" />
    <link rel="stylesheet" href="../common.css" />
  </head>
  <body>
    <%- include('./components/header.ejs', {showDropdown:false}) %>
    <div class="mainBody">
      <h4>Complete Details for <%= player.name %></h4>
      <div class="gap"></div>
      <!-- be = boxElement -->
      <div class="playerBox">
        <div class="be">
          <div class="left">Name</div>
          <div class="right"><%= player.name %></div>
        </div>
        <div class="be">
          <div class="left">Initial Age</div>
          <div class="right"><%= player.initialAge %></div>
        </div>
        <div class="be">
          <div class="left">Position</div>
          <div class="right"><%= player.position %></div>
        </div>
        <!-- dropdown for all seasons -->
        <div class="be">
          <div class="left">Seasons</div>
          <div class="right"><%= player.seasons %></div>
        </div>
        <!-- end of dropdown -->
        <div class="be">
          <div class="left">Games</div>
          <div class="right"><%= player.games %></div>
        </div>
        <div class="be">
          <div class="left">Rating</div>
          <div class="right"><%= player.rating %></div>
        </div>
        <div class="be">
          <div class="left">Goals</div>
          <div class="right"><%= player.goals %></div>
        </div>
        <div class="be">
          <div class="left">Assists</div>
          <div class="right"><%= player.assists %></div>
        </div>
        <div class="be">
          <div class="left">Contributions</div>
          <div class="right"><%= player.contributions %></div>
        </div>
        <div class="be">
          <div class="left">Name</div>
          <div class="right"><%= player.name %></div>
        </div>
        <div class="be">
          <div class="left">Name</div>
          <div class="right"><%= player.name %></div>
        </div>
        <div class="be">
          <div class="left">Name</div>
          <div class="right"><%= player.name %></div>
        </div>
      </div>
    </div>
  </body>
  <style>
    .playerBox {
      display: flex;
      flex-direction: column;
    }
    .be {
      border: 2px solid transparent;
      border-radius: 9px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 5px;
      padding: 10px 2px;
    }
    .be:hover {
      border: 2px solid white;
    }
    .be::selection {
      border: 2px solid white;
    }
    .right {
      font-weight: bolder;
    }
  </style>
</html>
